$btn-bg-color: #EEEEEE;
#score-board > button{
    // background-color: $btn-bg-color;
    background-color: $btn-bg-color;
    border-radius: 10px;
    font-weight: bold;
}

.title{
    font-size: 40px;
    font-weight: bold;
}